@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  
}
header{
  width: 100%;
  height: 9vh;
  background-color: #031C38;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.411);
  font-family: "Poppins", sans-serif;
}
.header-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.header-logo > h1{
  color: aliceblue;
  font-size: 3rem;
}
.logo {
  width: 6vw;
  height: 8vh;
}
.navbar{
  margin-right: 50px;
}
.navbar > a{
  color: aliceblue;
  font-size: 1.6rem;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar > a:hover{
  transition: 0.8s;
  color: #031C38;
  background-color: aliceblue;
  border-radius: 5px;
}
#area-1{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#area-3{
  width:100%;
  height: 320px;
  background-color: #064eab;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#mao-ferramenta-esquerda{
  height: 250px;
  width: 200px;
  margin-right: 100px;
}
#mao-ferramenta-direita{
  height: 250px;
  width: 200px;
  margin-left: 100px;
  transform:scaleX(-1);
  transform: rotate(180deg);
}
#mao-ferramenta-esquerda:hover, #mao-ferramenta-direita:hover{
  height: 270px;
  width: 220px;
}
.conteudo-sobre-nos{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sobre-nos{
  color: #fff;
  width: 500px;
  height: 290px;
}
.sobre-nos > h2{
  padding: 0;
  text-align: center;
  font-size: 22px;
}
.sobre-nos > p{
  text-align: justify;
  font-size: 16.1px;
}
.img-sobre-nos{
  margin-left: 100px;
  border-radius: 15px;
  height: 250px;
  width: 500px;
}
.caixa__login {
  position: absolute;
  width: 600px;
  height: 450px;
  padding: 40px;
  background: #031c38;
  box-sizing: border-box;
  box-shadow: 0 0px 40px 10px #000000b4;
  border-radius: 10px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}
form{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inputs{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
.caixa__login h2 {
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.caixa__login .caixa__login-input {
  position: relative;
  width: 100%;
}

.caixa__login .caixa__login-input input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.caixa__login .caixa__login-input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 20px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.caixa__login .caixa__login-input input:focus ~ label,
.caixa__login .caixa__login-input input:valid ~ label {
  top: -20px;
  left: 0;
  color: #80c0f9;
  font-size: 12px;
}

  .link-cadastrar{

    color: #1eb9e4;
    text-decoration: none;
    margin-left: 5px;
  }


@keyframes animacaoBotao1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}



@keyframes animacaoBotao2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}



@keyframes animacaoBotao3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.logar {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  line-height: 1;
  background-color: #00000030;
  padding: 1rem;
  width: 100px;
  height: 55px;
  border: 3px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 3px 3px #0000001f;
  cursor: pointer;
  transition: all 0.18s ease;
}
.logar:hover {
  --color1: #000000;
  --color2: #030206;
  background: rgba(255, 255, 255, 0.05);
}

@keyframes animacaoBotao4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
@media (max-width:606px), (max-height:450px){
  .caixa__login{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      height: 330px;
      padding: 40px;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      box-shadow: 0 0px 40px 10px #05326669;
      border-radius: 10px;
    }
  .caixa__login h2 {
      margin: 0 0 30px;
      padding: 0;
      color: #fff;
      text-align: center;
      font-size: 25px;
    }
  .caixa__login .caixa__login-input {
      position: relative;
    }
  .caixa__login .caixa__login-input input {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;
    }
  .caixa__login .caixa__login-input label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      pointer-events: none;
      transition: 0.5s;
    } 
h3, .link-cadastrar{
  font-size: 12px;
}

}
.container{
  width: 100%;
  height: 60vh;
  background-color: #031C38;
}
.card{
  color: #ffffff;
  height: 300px;
  width: 300px;
  padding: 20px;
  background-color: #031C38;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.card > span{
  font-size: 22px;
  margin-bottom: 10px;
}
.card > img{
  height: 60px;
}
.card>p{
  font-size: 16px;
  text-align: center;
}
#area-2{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card > .xicara-texto{
  font-size: 14px;
}
     [data-anime]{
  opacity: 0;
  transition: 0.5s;
}
[data-anime="right"]{
  transform: translate3d(50px,0px,0px);
  transition: 0.5s;
}
[data-anime="left"]{
  transform: translate3d(-50px,0px,0px);
  transition: 0.5s;
}
[data-anime].animate{
  opacity: 1;
  transform: translate3d(0px,0px,0px);
}
.carro{
  height: 50px;
}

.carrossel{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 350px;
  margin-top: 40px;
  margin-bottom: 40px;
  }
.carrossel > h1{
  font-size: 50px;
}
.carrossel > h3{
  font-size: 16px;
  color: #929191;
}
footer{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 450px;
    background-color: #031C38;
    color: #fff;
  }
.coluna{
    margin-top: 20px;
  }
.coluna:not(:last-child){
    margin-right: 150px;
  }
.item-lista{
  font-size: 18px;
  margin:30px 0px ;
}
.lista > a{
  text-decoration: none;
  color: #fff;
  transform: translateX(-500px);
  transition: transform 0.5s ease-in-out;
}
.lista > a:hover{
  color: #ffffff79;
  cursor: pointer;
}
#linha-1{
    border-color: #80c0f9;
    margin-bottom: 20px;
    background-color: #80c0f9;
    width: 111.5px;
    height: 2px;
    border-radius: 5px;
  }
#linha-2{
    border-color: #80c0f9;
    margin-bottom: 20px;
    background-color: #80c0f9;
    width: 100px;
    height: 2px;
    border-radius: 5px;
  }
#linha-3{
    border-color: #80c0f9;
    margin-bottom: 20px;
    background-color: #80c0f9;
    width: 150px;
    height: 2px;
    border-radius: 5px;
  }
.contatos{
    display: flex;
    align-items: center;
  }
.contatos:not(:last-child){
    margin-bottom: 15px;
  }
.contatos > img{
    height: 50px;
    margin-right: 10px;
  }
.coluna-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.redes-sociais{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 15px;
}
.icone-redes{
  height: 50px;
}
.redes-sociais>a:not(:last-child){
  margin-right: 20px;
}
.direitos-autorais{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #064eab;
  color: #fff;
  font-weight: 400;
}
