@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  
}
.area-1{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.area-3{
  width:100%;
  height: 360px;
  background-color: #1a68ce;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo-area-3{
  height: auto;
  width: auto;
  color: #fff;
}
.conteudo-sobre-nos{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sobre-nos{
  color: #fff;
  width: 500px;
  height: 290px;
}
.sobre-nos > h2{
  padding: 0;
  text-align: center;
  font-size: 22px;
}
.sobre-nos > p{
  text-align: justify;
  font-size: 17px;
}
.img-sobre-nos{
  margin-left: 100px;
  border-radius: 15px;
  height: 250px;
  width: 500px;
}
.caixa__login {
  position: absolute;
  width: 600px;
  height: 450px;
  padding: 40px;
  background: #031c38;
  box-sizing: border-box;
  box-shadow: 0 0px 40px 10px #000000b4;
  border-radius: 10px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}
form{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inputs{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
.caixa__login h2 {
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.caixa__login .caixa__login-input {
  position: relative;
  width: 100%;
}

.caixa__login .caixa__login-input input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.caixa__login .caixa__login-input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 20px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.caixa__login .caixa__login-input input:focus ~ label,
.caixa__login .caixa__login-input input:valid ~ label {
  top: -20px;
  left: 0;
  color: #80c0f9;
  font-size: 12px;
}

  .link-cadastrar{

    color: #1eb9e4;
    text-decoration: none;
    margin-left: 5px;
  }


@keyframes animacaoBotao1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}



@keyframes animacaoBotao2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}



@keyframes animacaoBotao3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.logar {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  line-height: 1;
  background-color: #00000030;
  padding: 1rem;
  width: 100px;
  height: 55px;
  border: 3px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 3px 3px #0000001f;
  cursor: pointer;
  transition: all 0.18s ease;
}
.logar:hover {
  --color1: #000000;
  --color2: #030206;
  background: rgba(255, 255, 255, 0.05);
}

@keyframes animacaoBotao4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
@media (max-width:606px), (max-height:450px){
  .caixa__login{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      height: 330px;
      padding: 40px;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      box-shadow: 0 0px 40px 10px #05326669;
      border-radius: 10px;
    }
  .caixa__login h2 {
      margin: 0 0 30px;
      padding: 0;
      color: #fff;
      text-align: center;
      font-size: 25px;
    }
  .caixa__login .caixa__login-input {
      position: relative;
    }
  .caixa__login .caixa__login-input input {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;
    }
  .caixa__login .caixa__login-input label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      pointer-events: none;
      transition: 0.5s;
    } 
h3, .link-cadastrar{
  font-size: 12px;
}

}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.06vh;
}
.container{
  width: 100%;
  height: 60vh;
  background-color: #031C38;
}
.card{
  color: #ffffff;
  height: 300px;
  width: 300px;
  padding: 20px;
  background-color: #031C38;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.card > span{
  font-size: 22px;
  margin-bottom: 10px;
}
.card > img{
  height: 60px;
}
.card>p{
  font-size: 16px;
  text-align: center;
}
.area-2{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card > .xicara-texto{
  font-size: 14px;
}
.info{
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: start;
  justify-content: space-around;
}
.informacoes{
      width: 360px;
      box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.301);
      border-radius: 20px;
      background-color: #031C38;
      color: #fff;
     }
     .img-card{
      height: 1.3vw;
      margin-right: 10px;
      margin-left: 10px;
     }
     .sub-card{
      display: flex;
      justify-content: start;
      align-items: center;
      margin-top: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.158);
     }
     .sub-card > p{
      font-size: 0.8vw;
      margin:4px;
     }
     .link-card{
      color: #1eb9e4;
      text-decoration: none;
     }
     .informacoes > span{
      color: rgb(117, 116, 116);
     }
     .numero{
      color: rgb(117, 116, 116);
      font-size: 1.3vw;
     }
     .redes-sociais{
      display: flex;
      justify-content: space-around;
      align-items: center;
     }
     .img-redes{
      height: 2.3vw;
      margin: 10px;
     }
[data-anime]{
  opacity: 0;
  transition: 0.5s;
}
[data-anime="right"]{
  transform: translate3d(50px,0px,0px);
  transition: 0.5s;
}
[data-anime="left"]{
  transform: translate3d(-50px,0px,0px);
  transition: 0.5s;
}
[data-anime].animate{
  opacity: 1;
  transform: translate3d(0px,0px,0px);
}
.carro{
  height: 50px;
}

.carrossel{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 350px;
  margin-top: 40px;
  }
.carrossel > h1{
  font-size: 50px;
}
.carrossel > h3{
  font-size: 16px;
  color: #929191;
}