@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
*{
    margin:0px;
    padding: 0px;
    text-decoration: none;
    border:none;
}
body{
    width: 100%;
    height: 100%;
    background-color: #111111;
    font-family: "Poppins", sans-serif;
}
header{
    width: 100vw;
    height: 8vh;
    background-color: #031C38;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.411);
    position: fixed;
    z-index: 1;
}
.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.header-logo > h1{
    color: aliceblue;
    font-size: 3rem;
}
.logo {
    width: 6vw;
    height: 8vh;
}
.navbar{
    margin-right: 50px;
}
.navbar > a{
    color: aliceblue;
    font-size: 1.6rem;
    padding: 14px 16px;
}
.navbar > a:hover{
    transition: 0.8s;
    color: #031C38;
    background-color: aliceblue;
    border-radius: 5px;
}
main{
    width: 100%;
    height: 92vh;
    margin-top: 83px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo{
    color: #80c0f9;
    margin-bottom: 12px;
    font-size: 26px;
}
.inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
}
.caixa__login-input {
    position: relative;
    width: 100%;
}
  
.caixa__login-input input {
    width: 85%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.caixa__login-input label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}
  
.caixa__login-input input:focus ~ label,
.caixa__login-input input:valid ~ label {
    top: -20px;
    left: 0;
    color: #80c0f9;
    font-size: 12px;
}
.select{
    margin-right: 58px;
}
.select select {
    background: #031C38;
    width: 170px;
    height: 48px;
    font-size: 18px;
    padding: 13px 20px 13px 12px;
    color: #80c0f9;
    border-radius: 15px;
}
.botao{
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao > button{
    width: 140px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    color: #80c0f9;
    letter-spacing: 1px;
    background-color: #031C38;
    border-radius: 8px;
    transition: 0.3s;
}
.botao > button:hover{
    color: #80c0f9;
    background-color: #162941;
}

