@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0%;
    padding: 0%;
    border: none;
    text-decoration: none;
}
body{
    background: radial-gradient(#4792d4,#004792);
    font-family: 'Josefin Sans', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.titulo{
    color: #fff;
    font-size: 5.27vh;
    margin-bottom: 2.11vh;
}
.card{
    opacity: 0.8;
    background: #0d68b8;
    height: 60%;
    width: 30%;
    border-radius: 5.27vh;
    box-shadow: 0vh 0vh 5.27vh 1.26vh rgba(0, 0, 0, 0.137);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.cadastro{
    padding: 2.32vh;
    width: 87%;
    border-radius: 1.055vh;
    display: flex;
    justify-content: flex-start;
    border: none;
    background: #4792d4;
    color: #fff;
    box-shadow: 0vh 0vh 1.055vh 0.21vh rgba(0, 0, 0, 0.137);
    margin: 1.9vh;
}
.cadastro::placeholder{
    color: #95c2e9;
}
.botao{
    margin: 1.055vh;
    padding: 1.37vh;
    width: 20%;
    border-radius: 3.16vh;
    box-shadow: 0vh 0vh 1.055vh 0.21vh rgba(0, 0, 0, 0.247);
    border: none;
    margin-top: 1.055vh;
    color: #fff;
    background: #4792d4;
    font-size: 1.58vh;
}
.botao:hover{
    background: #0d68b8;
    cursor:pointer;
}

