@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  
}
.area-1{
  width: 100%;
  height: 100vh;
  display: flex;
}
.main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.conteudo-l{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
}
.conteudo-r{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
}
.sobre-nos{
  background: #031C38;
  width: 450px;
  height: 480px;
  padding: 30px;
  box-shadow: 0 0px 40px 10px #000000b4;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: start;
}
.sobre-nos > h2{
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 30px;
}
.sobre-nos > p{
  color: #fff;
  text-align: justify;
  font-size: 15.3px;
}
.caixa__login {
  position: absolute;
  width: 600px;
  height: 450px;
  padding: 40px;
  background: #031c38;
  box-sizing: border-box;
  box-shadow: 0 0px 40px 10px #000000b4;
  border-radius: 10px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}
form{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inputs{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
.caixa__login h2 {
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.caixa__login .caixa__login-input {
  position: relative;
  width: 100%;
}

.caixa__login .caixa__login-input input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.caixa__login .caixa__login-input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 20px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.caixa__login .caixa__login-input input:focus ~ label,
.caixa__login .caixa__login-input input:valid ~ label {
  top: -20px;
  left: 0;
  color: #80c0f9;
  font-size: 12px;
}

  .link-cadastrar{

    color: #1eb9e4;
    text-decoration: none;
    margin-left: 5px;
  }


@keyframes animacaoBotao1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}



@keyframes animacaoBotao2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}



@keyframes animacaoBotao3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

button {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  line-height: 1;
  background-color: #00000030;
  padding: 1rem;
  width: 100px;
  height: 55px;
  border: 3px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 10px 3px #0000003b;
  cursor: pointer;
  transition: all 0.18s ease;
}
.button:hover,
button:hover {
  --color1: #000000;
  --color2: #030206;
  background: rgba(255, 255, 255, 0.05);
}

@keyframes animacaoBotao4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
@media (max-width:606px), (max-height:450px){
  .caixa__login{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      height: 330px;
      padding: 40px;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      box-shadow: 0 0px 40px 10px #05326669;
      border-radius: 10px;
    }
  .caixa__login h2 {
      margin: 0 0 30px;
      padding: 0;
      color: #fff;
      text-align: center;
      font-size: 25px;
    }
  .caixa__login .caixa__login-input {
      position: relative;
    }
  .caixa__login .caixa__login-input input {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;
    }
  .caixa__login .caixa__login-input label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      pointer-events: none;
      transition: 0.5s;
    } 
  button {
      font-size: 0.7rem;
      text-align: center;
      color: rgb(255, 255, 255);
      line-height: 1;
      background-color: #00000030;
      padding: 0.7rem;
      width: 80px;
      height: 40px;
      border: 3px solid rgba(0, 0, 0, 0.068);
      cursor: pointer;
      transition: all 0.18s ease;
      --color1: #000000;
      --color2: #05050f;
      --bs1: -2px -2px 0 2px var(--color1);
      --bs2: 0 0 0 4px var(--color2);
      box-shadow: var(--bs1), var(--bs2), var(--bs3);
  }  
  button:hover {
    --color1: #000000;
    --color2: #030206;
    background: rgba(255, 255, 255, 0.05);
}
h3, .link-cadastrar{
  font-size: 12px;
}

}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.06vh;
}
.secundario{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.container{
  width: 100%;
  height: 60vh;
  background-color: #031C38;
}
.card{
  color: #031C38;
  height: 300px;
  width: 270px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card > span{
  font-size: 22px;
  margin-bottom: 10px;
}
.card > img{
  height: 60px;
}
.card>p{
  font-size: 19px;
  text-align: center;
}
.area-2{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card > .xicara-texto{
  font-size: 16px;
}
.card:hover{
  transition: 0.3s;
  height: 320px;
  width: 290px;
}