.copyright-area{
        background: #053a76;
        padding: 25px 0;
}.copyright-text p {
        margin: 0;
        font-size: 14px;
        color: #878787;
}.copyright-text p a{
        color: #053a76;
}