@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
*{
    margin:0px;
    padding: 0px;
    text-decoration: none;
    border:none;
}
body{
    width: 100%;
    height: 100%;
}
header{
    width: 100vw;
    height: 8vh;
    background-color: #031C38;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.411);
    font-family: "Poppins", sans-serif;
    position: fixed;
    z-index: 1;
}
.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.header-logo > h1{
    color: aliceblue;
    font-size: 3rem;
}
.logo {
    width: 6vw;
    height: 8vh;
}
.navbar{
    margin-right: 50px;
}
.navbar > a{
    color: aliceblue;
    font-size: 1.6rem;
    padding: 14px 16px;
}
.navbar > a:hover{
    transition: 0.8s;
    color: #031C38;
    background-color: aliceblue;
    border-radius: 5px;
}
main{
    margin-top: 83px;
    position: absolute;
}